# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Environment files
*.env
*.local

# Build outputs
.next
out
dist
dist-ssr

# TypeScript
*.tsbuildinfo

# Deploy / cache
.vercel
.turbo
.cache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backup / patch artifacts
*.orig
